<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.example.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <display-name>FirstServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>lab1</display-name>
    <servlet-name>lab1</servlet-name>
    <servlet-class>com.labs.lab1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lab1</servlet-name>
    <url-pattern>/lab1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.example.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Headers</display-name>
    <servlet-name>Headers</servlet-name>
    <servlet-class>com.labs.Headers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Headers</servlet-name>
    <url-pattern>/Headers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CORS</display-name>
    <servlet-name>CORS</servlet-name>
    <servlet-class>com.labs.CORS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CORS</servlet-name>
    <url-pattern>/cors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log</display-name>
    <servlet-name>Log</servlet-name>
    <servlet-class>com.labs.Log</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/Log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CRLF</display-name>
    <servlet-name>CRLF</servlet-name>
    <servlet-class>com.labs.CRLF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRLF</servlet-name>
    <url-pattern>/crlf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClickJacking</display-name>
    <servlet-name>ClickJacking</servlet-name>
    <servlet-class>com.labs.ClickJacking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClickJacking</servlet-name>
    <url-pattern>/ClickJacking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.labs.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFile</display-name>
    <servlet-name>ViewFile</servlet-name>
    <servlet-class>com.labs.ViewFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFile</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
</web-app>